.play-place{
    display: grid;
    gap: 10px;
    justify-content: space-evenly;
    grid-template-columns: auto auto auto auto auto;

    .card{
        display: inline-grid;
        border: 3px solid $secondary;
        background-color: $card;
        width: 150px;
        height: 150px;
        text-align: center;
        position: relative;
        
        &:hover{
            background-color: $card-back;
        }

        i{
            font-size: 60px;
            padding-top: calc(50% - 30px);
        }

        .ghost{
            color: $primary;
        }

        .demon{
            color: $demon;
        }

        

        @media screen and (max-width: 600px) {
            width: 100px;
            height: 100px;
        }
        @media screen and (max-width: 900px) {
            width: 125px;
            height: 125px;
        }
    }
    
    @media screen and (max-width: 900px) {
        grid-template-columns: auto auto auto auto;
    }

    @media screen and (max-width: 600px) {
        grid-template-columns: auto auto auto;
    }
    
}